<style type="text/css">
  /* This is a CSS file */

  *{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
  } 
  body{
    max-width: 750px;
    margin: 20px;
    padding: 10px;
    font-family: Helvetica;

  }

  .heading{
    display: flex;
  } 
  .heading-text{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 20px;
  } 

  .image{
      width: 50px;
      height: 50px;
      margin-left: 20px;
  }
  .image img {
      width: 100%;
      height: auto;
  }


  .lesson{
    background-color: rgb(156, 216, 179);
    font-size: 16px;
    font-family: Helvetica;
    padding-bottom: 10px;
    border-radius: 20px;

  }
  .title{
    background-color: #009966;
  }

  span.code {
      font-family: Courier;
      background-color: #BBBBBB;
      padding: 2px 4px;
      font-weight: bold;
  }

  .concepts{
    padding-left: 10px;
  }

  h1{
    text-align: center;
    color:#339999;
    background-color:#CCCCCC; 
    border-radius: 20px;
  }
  h2{
    background-color: #009966;
    padding-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
  }

  h3{
    font-size: 22px;
    font-family: Helvetica;

  }
</style>

<!DOCTYPE html>
<html>
<head>
  <title>ClassNote</title>
</head>
<body>
  <div class="heading">
    <!-- <div class="image"><img src="/home/jingya/projects/stage4Project/template/photo.jpg" alt="Oops, cannot find the image"></div> -->
    <div class="heading-text"> <a href="https://ca.linkedin.com/pub/jingya-wang/58/a00/6b8">Jingya</a>'s class notes.</div>
  </div>
  <div class="contents">
    <h1>Table of Contents</h1>
    <ul class = "content-font">
      <li><a href="#lesson1.1">1.1:  Keypoints of the Basics of the Web and HTML</a></li>
      <li><a href="#lesson1.2">1.2:  Creating a Structured Document</a></li>
      <li><a href="#lesson1.3">1.3:  Adding CSS Style and HTML Structure</a></li>
      <li><a href="#lesson2.1">2.1:  Introduction to Computer Science</a></li>
      <li><a href="#lesson2.2">2.2:  Variables and Strings</a></li>
      <li><a href="#lesson2.3">2.3:  Input &#8594; Function &#8594; Output</a></li>
      <li><a href="#lesson2.4">2.4:  Control Flow &#38; Debugging</a></li>
      <li><a href="#lesson2.5">2.5:  Structure Data &#38; How to Solve Problems</a></li>
      <li><a href="#lesson3">3.1-3.4:  Add Videos to Your Page</a></li>
      <li><a href="#lesson4">4.1-4.8:  Allow Comments</a></li>
      <li><a href="#lesson4Project">4:  Add Your Comments</a></li>
      <li><a href="#lesson5.2">5.2: The Power of APIs</a></li>

    </ul>
  </div>
  <div>
    <div><h1>Keypoints of Stage 1</h1></div>
    <div class="lesson">
      <h2 id="lesson1.1"> 1.1:  the Basics of the Web and HTML</h2>    
      <div class="concepts">
        <h3> Web components</h3>
        <ul>
          <li>Browsers: A program that runs on the computers to display files found on the web.</li>
          <li>Internet: the world's largest computer network.</li>
          <li>HTTP: the main ptotocal of the web.</li>
          <li>Servers: computers that host the files that make up the web.</li>
        </ul>

        <p> 
          Hypertext Markup Language (HTML) is a main type of documents on the web that glues everything together. Any type of documents can be found on the web, such as images, videos, texts, pdfs, and other web pages. 
        </p>
      </div>
        
      <div class="concepts">
        <h3>How to write HTML</h3>

        <p>
          HTML documents are made of HTML <em><b>elements</b></em>. The basic format of elements is: 
          <br>
          <br>
          <span style="font-weight: bold; display: block; margin: 0px auto; text-align: center;" >&lt;name&gt; content &lt;/name&gt;.</span> 
          <br>

          This <a href = "http://www.fing.edu.uy/tecnoinf/mvd/cursos/ria/material/teorico/html-tags-chart.pdf">tag chart</a> lists some frequently-used tags.  
        </p>
      </div>
      <div class="concepts">
        <h3>Inline vs Block Elements</h3>
        <p>
          HTML elements are either <b>inline</b> or <b>block</b>. Block elements form an "invisible box" around the content inside of them.
        </p>
      </div>

      <div class="concepts">
        <h3>Note 1.1</h3>
        <p>
          To make the code more readable, indent the &lt;li&gt; elements.  Learn more about <a href = "http://www.blooberry.com/indexdot/html/topics/indent.htm"> HTML indenting</a>.    
        </p>
      </div>
    </div>  

    <div class="lesson">
      <h2 id="lesson1.2">1.2: Creating a Structured Document</h2>
      <div class="concepts">
        <h3>Page Structure</h3>
        <ul>
          <li>All elements are rectangular.</li>
          <li>Tree like structure. </li>
          <li>HTML controls the "structure" of a web page.</li>
        </ul>
      </div>
      <div class="concepts">
        <h3>Visual Styling</h3>
        <ul>
          <li>How is the structure  turned into a page? CSS controls the "style" of web page.</li>
          <li>Document object model (DOM) is referred to tree-like structure of a page.</li>
        </ul>
      </div>
      <div class="concepts">
        <h3>HTML-CSS-DOM</h3>
        <ul>
          <li>HTML is the web language &#8594; syntax+rules,</li> 
          <li>Tage is the "basic word" in HTML &#8594; element in tree.</li>
          <li>CSS defines the "style". </li>
        </ul>
      </div>
      <div class="concepts">
        <h3>Boxifying Design</h3> 
        <p>
          Everything on a web page is a box that can be divided from big to small. 
          <br>
          &lt;div&gt; can separate a web page into boxes. 
          <br>
          More info about &lt;div&gt; and &lt;span&gt; can be found at <a href="http://www.w3schools.com/html/html_blocks.asp"> this page </a>.
        </p>
      </div>
    </div>

    <div class="lesson">
      <h2 id="lesson1.3">1.3: Adding CSS Style and HTML Structure</h2>

      <div class="concepts">
        <h3>Avoiding repetition</h3>
        <p>
          Avoiding repetition is the essential of programming. Cascading style sheet (CSS) let the coder avoid repetition.
          <br>

          <b>Avoiding Errors</b>: Without avoiding repetition, the code that do the same thing will often repeat over and over, like copying and pasting certain style attributes into many HTML elements or rewriting the same code (sometimes with minor differences) many times. This can lead to errors when the programmer decides to make a change to something. If they do not diligently make that same change everywhere the repeated code appears, problems will arise.
          
          <br>
          <b>Consistency</b>: Consistency is a key to a well-organized and elegant web page. The same style  can be assigned to each div and specified in only one place! It is also easy to make changes on that style.
        </p>
      </div>

      <div class="concepts">
        <h3>Understand CSS and thinking about inheritance</h3>
        <p>
          CSS allows the descendant elements inherit property values from ancestor elements. Properties that can be inherited are color, font, letter-spacing, line-height, list-style, text-align, text-indent, text-transform, visibility, white-space and word-spacing. Properties that cannot be inherited are background, border, display, float and clear, height and width, margin, min- and max-height and -width, outline, overflow, padding, position, text-decoration, vertical-align and z-index. This <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets#Inheritance">wiki-page</a> details inheritance of CSS.
        </p>
      </div>

      <div class="concepts">
        <h3>Set the attributes in CSS for different tags or classes</h3>
        <p>
          The style of each element can be set by assigning attributes to tags or classes. 
        </p>
      </div>

      <div class="concepts">
        <h3>Web design process</h3>
        <ul>
          <li> Look for natural boxes</li>
          <li> Look for repeated styles and semantic elements</li>
          <li> Write the HTML </li>
          <li> Apply style (from biggest to smallest)</li>
          <li> Fix details</li>
        </ul>      
      </div>
    </div>
  </div>
  
  <div>
    <div><h1>Keypoints of Stage 2</h1></div>
    <div class = "lesson">
      <h2 id="lesson2.1"> 2.1:  Introduction to Computer Science</h2>
      <div class="concepts">
        <h3>Computer science</h3>
        <p>
          Breaking a problem into smaller pieces.  Precisely and mechanically describe a sequence of steps that can be used to solve each piece.
        </p>
        <h3>Web crawler</h3>
        <p>
          Seed page &#8594;flowing the link to find other pages.
        </p>
        <h3> Programming </h3>
        <p>
          Program tell the computer to act in a precise sequence of steps. There are many languages for programming. Most of them are high level language. For example, the Python interpreter translates  Python code into a low level language to run on computers. Programming language should avoid amiguity and verbosity. 
        </p>

        <h3>Python expression</h3>
        <p>Python follows some certain grammar.
          <br>
          Expression &#8594; expression operator exoression</p>
      </div>
    </div>

    <div class="lesson">
      <h2 id="lesson2.2"> 2.2: Variables and Strings</h2>
      <div class="concepts">
        <h3>Variables</h3>
        <p>
          Variable is the name of value. The existence of variables improves the code readability. 
        </p>

        <h3>Assignment statement</h3>
        <p>
          name = expression
        </p>

        <h3>Strings</h3>
        <p>
          name = expression
        </p>
      </div>
    </div>

    <div class="lesson">
      <h2 id="lesson2.3"> 2.3: Input &#8594; Function &#8594; Output</h2>
      <div class="concepts">
        <h3>What is a function?</h3>
        <p>
         A function is a series  of operations on input and then produce output. There is a python function example below:
         <br>
         <br>
         <span class="code">
          def restOfString(s):
          <br>
            &nbsp;&nbsp;return s[1:]
         </span>
         <br> 
         <br>   
         This function returns the rest of a string other than its first letter. 
        </p>

        <h3>What is the difference between making and using a function?</h3>
        <p>
          Making a function is defining the action and parameters inside the function.
          <br>
          Using a function is, after making the function, calling this function to do some certain task
        </p>

        <h3>How do functions help programmers avoid repetition?</h3>
        <p>
          Functions only need to be defined once and allow use to operate the same action with different input.
        </p>

        <h3>What happens if a function does not have a <span class="code">return</span> statement?</h3>
        <p>
          <span class="code"> return </span> returns the output after calling the function. Without <span class="code">return</span>, although the function modified the input, but no output from the function and  nothing would happen. 
        </p>
      </div>
    </div>

    <div class="lesson">
      <h2 id="lesson2.4">2.4: Control Flow &#38; Debugging </h2>
      <div class="concepts">
        <h3>Comparison operators</h3>
        <p>
          Comparison operators make decisions in if while and for statements, and can help controlling the function running flow. More details on python operators can be fund in <a href="http://www.tutorialspoint.com/python/python_basic_operators.htm">this page</a>. For more details on if, while, and for statements, visit <a href="https://docs.python.org/2/tutorial/controlflow.html"> this page</a>.
        </p>
        
        <h3>Debugging</h3>
        <p>
          Bugs are inevitable. Don't panic or feel frustrating when bugs occur. Read the error message and trace back the line and function which make the code crashes. Use print statement to separate and observe the code in small sections and debugging. <a href="https://www.udacity.com/course/software-debugging--cs259">Debugging scientific approach for debugging</a> is a debugging course.Make your code more modular can help reducing bugs efficiently <b>Git</b> is a good version control tool.
        </p>
      </div>
    </div>

    <div class="lesson">
      <h2 id="lesson2.5">2.5: Structure Data &#38; How to Solve Problems</h2>
      <div class="concepts">
        <h3>List</h3>
        <p>
          <b>String</b> and <b>list</b> are two kinds of structure data. Strings only contain a sequence of characters while list can be sequences of anything. list can be inside another list. List support mutation which means the value of the list can be changed after created. If both names refer to the same list, any changes affect one value name refers to also affect the values the other one refers to.
        </p>

        <h3>Solving complex problem</h3>
        <p>
          Don't panic! Identify the inputs and how they are represented. Then identify the outputs. Understand the relationship between the input and output with some examples. Test your thoughts with a simple mechanical solution. When it works, develop incrementally and test the results.
        </p>


      </div>
    </div>
  </div>

  <div>
    <div><h1>Keypoints of Stage 3</h1></div>    
    <div class="lesson">      
      <h2 id="lesson3">3.1-3.4:  Add videos to your page </h2>
      <div class="concepts">
        <h3>Object Oriented Programming</h3>
        <p>
          Object-oriented programming (OOP) allows the user to build an object or instance in an intuitive way with some certain variables and attributes from a class. OOP let the uses coding in a way resemble human thinking process. In general, when we try to learn from and solve problems in the world, the object or problem with similar attributes are always grouped together. In the coding process,          OOP is a valuable tool because the objects sharing the similar attributes can be created from the same class. If more constraints are needed on a class of objects, then the child class can inherit attributes from its parent class and also add its own attributes and functions in its own class. With such features, OOP can avoid coding repetition, same time and energy for the programmer.  
        </p>

        <h3>Important terms</h3>
        <ul>
          <li>Object: structures that contain predefined variables and functions.      </li>
          <li>Class:  a template for creating objects which contains constructor for objects, available procedures and variables.</li>
          <li>Instance: also called object which is always referred to a specific thing. For example, skin care product is a class (contains the functions and attributes sharing among skin care products), facial cream is a child class (such class contains the same attributes form skin care product adding along with some special attributes that only for face), Jingya's home made daytime facial cream is a instance which contains all the details of functions, ingredients and parameters of such product. </li>
          <li>Method: is a function that can be operated on the object. </li>
          <li>Module: is an element that contains one aspect of functions, classes and variables that can be implemented for some certain purpose.</li>
          <li>Library: a collection of modules. </li>
        </ul>

        <h3>Abstract thinking</h3>
        <p>
          Instead of considering only one specific object. OOP and CSS both take one step back. Observe and process object from a generalization view. For example, classes defined the attributes and operations that are shared among specific objects. With the features such as inheritances and method overriding for classes, OOP can  efficiently avoid code repetition.   
        </p>
      </div>


    </div>
  </div>
  
  <div>
    <div><h1>Keypoints of Stage 4</h1></div> 
    <div class="lesson">
      <h2 id="lesson4">4.1-4.8: Allow Comments</h2>
      <div class="concepts">
        <h3>Server</h3>
        <p>
          To request a doc, the browser will send a request line (usually follow the HTTP) to the server: GET/url HTTP/version_info.  The request is followed by a number of headers, which  contains host and  user-agent  information.
          <br>
          <br>
          After the server revieve a request, the server will response with a status line: HTTP/version_info status_code reason_phrase. The status line is also followed by a number of headers, such as date, server, content type and length. There are two main type of responses the server will do: static and dynamic. The content of static is pre-written files that the server just returns, such as images. Dynamic content is made on the fly which is very popular nowadays. Web application is on a server and generage the content based on the browser request. 
          <br>
          <br>
          Servers include both the machaine, programs and data that hots the web.
          <br>
          <br>
          HTTP is the most frequenly used communication protocal on the web.
          <br>
          <br>
          URL: uniform resource locator. The minimum path is represented by protpcal and server host. 
          <br>
          <br>
          Query parameters are following ?.
          <br>
          <br>
          GET: the most often used method for requesting a doc from the server.
          <br>
          <br>
          POST: send data to the server.
          <br>
          <br>
          Use nice and accurate user agnet is always a nice curtesy.          
        </p>
        <h3>The importance of validating input</h3>
        <p>
          Input validattion can prevent the web application being hacked. Also, validate the input value and format can make sure the functions running smoothly. In case, the user input special symbol that can mess with the webpage, we usully use escaping on those symbols. 
        </p>
        <h3>HTML templates and abstraction</h3>
        <p>
          A template library is a library to build a complicated strings(html). The most often used template library is Jinja2. It is built into Google App Engin. Without using templates, the code are error prone, hard to make changes and don't have syntax highlighting. The library is tested by many programmers and running fast and errorless.
          Template separates different types of code, makes more readable code, avoids repetition, make more secure websites and makes html easier to modify. 
          <br>
          <br>
          Without avoiding repetition, the code that do the same thing will often repeat over and over, like copying and pasting certain style attributes into many HTML elements or rewriting the same code (sometimes with minor differences) many times. This can lead to errors when the programmer decides to make a change to something. If they do not diligently make that same change everywhere the repeated code appears, problems will arise.
        </p>
      </div>
      
    </div>

    <div class="lesson">  
      <h2 id="lesson4Project">Add your comments</h2> 
      <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
        <div><textarea name="content" rows="3" cols="60"></textarea></div>
        <div><input type="submit" value="Sign Guestbook"></div>
      </form>

      <hr>

      <form>Guestbook name:
        <input value="{{ guestbook_name }}" name="guestbook_name">
        <input type="submit" value="switch">
      </form>

      <a href="{{ url|safe }}">{{ url_linktext }}</a>
      <hr>
      {{ error_msg }}
      <br>
      {% for greeting in greetings %}
          {% if greeting.author %}
            <b>{{ greeting.author.email }}
              {% if user and user.user_id() == greeting.author.identity %}
                (You)
              {% endif %}
            </b> wrote:
          {% else %}
            An anonymous person wrote:
          {% endif %}
          <blockquote>{{ greeting.content }}</blockquote>
          <br>
      {% endfor %}  

        
    </div> 
  </div>

  <div>
    <div><h1>Keypoints of Stage 5</h1></div> 
    <div class="lesson">
      <h2 id="lesson5.2">5.2: The power of APIs</h2>
      <div class="concepts">
        <h3>API</h3>
        <p>
          API is application programming interface, which make the website not just communicate with humans but also computers. Send data that formating in XML or JSON that are designed to be understand by computers. Lots of webpages can be accessed as XML and JSON. To access the data and content of webpages, try to find their APIs, for example, Google it.
        </p>
        <h3>HTTP clients</h3>
        <p>
          Servers can request data from other servers. 
        </p>
        <h3>XML</h3>
        <p>
          XML is alot like HTML because they share a common ancestor in SGML. In XML, every tag has to have a closing tag and more consistent than HTML.
          <br>
          <br>
          Use minidom to parsing XML and get element by tag.
        </p>
        <h3>JSON</h3>
        <p>
          JSON (JavaScript Object Notation) is a nice kind of computer and human readable way to exchange data in a consistent format. Jason is valid JavaScript code.
          <br>
          <br>
          Import JSON and converte the doc into JSON and then access the data with keys.
        </p>
        <h3>How to be a good citizen on the internet</h3>
        <p>
          Use a good user-agent: specify headers, include name, link of the website.
          <br>
          <br>
          rate-limit yourself
        </p>
        <h3>Protocol  for communicating between two machines</h3>
        <p>
          SOAP (based on XML) (Microsoft) hipmunk
          <br>
          <br>
          Proto buffers (Google)
          <br>
          <br>
          Thrift (Facebook)
          <br>
          <br>
          XML
          <br>
          <br>
          JSON

        </p>



      </div>       
    </div> 
  </div>
</body>
</html>
